* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    
    
    
}
body {
    border: 0.1rem;
    border-style: solid;
    padding: 10px;
    border-color: chocolate;
    background-color: rgb(255, 240, 247);

}
h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}
p {
font-size: 1.5rem;
margin-top: 0.5 rem;
}
input {
    margin-top: 1 rem;
    margin-bottom: 1 rem;
    font-size: 1rem;
    background-color: lightpink;
}
select {
    margin-top: 0.5 rem;
    font-size: 1rem;
    background-color: lightpink;
}
div {
    font-size: 1.5 rem;
}
textarea {
    background-color: rgb(255, 240, 247);
}
button {
   font-size: 1rem;
   border: none;
}